.container{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    
}


.btn-primary{
    background-color: #44A542;
    border-color: #44A542;
}

.nx{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}