<div class="container">
    <div class="row" style="width: 100%;">
      <div class="d-grid gap-2 d-md-flex  nx">
      <div class="ny1">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Cuentas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tarjetas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ingresos</a>
              </li>
            </ul>
      </div>
      <div class="ny2">
          <button class="btn btn-primary me-md-2" type="button">+ Crear Cuenta</button>
      </div>
        </div>
        <br>
        <br>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Fecha</th>
              <th scope="col">Nombre</th>
              <th scope="col">Monto</th>
              <th scope="col">Tema</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">1</th>
              <td>27/03/2020 18:39</td>
              <td>Otto</td>
              <td>$500.00</td>
              <td>Transferencia Bancaria</td>
              <td>Aprovado</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>27/03/2020 18:39</td>
              <td>Otto</td>
              <td>$500.00</td>
              <td>Transferencia Bancaria</td>
              <td>Aprovado</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>27/03/2020 18:39</td>
              <td>Otto</td>
              <td>$800.00</td>
              <td>Transferencia Bancaria</td>
              <td>Denegado</td>
            </tr>
          </tbody>
        </table>

        <div>

        </div>
    </div>
  </div>
  
