<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./assets/img/Logo-SBEC.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
      </a>
      <h1 style="font-weight: 600; color:  rgba(58, 81, 158, 0.6)">
        Hola, Giovanni Administrador!
      </h1>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        
        <a class="btn  btn-primary me-md-2" routerLink="/auth/login">Cerrar Sesión</a>
      </div>
    </div>
  </nav> 
  
  <div class="display">
    <div class="content-left">
      <nav class="nav flex-column">
        <a class="nav-link " href="#">Alta Usuarios</a>
        <a class="nav-link" href="#">Gestión de Sistema</a>
      </nav>
      
    </div>
    
    <div class="content-dashboard">
      <app-table></app-table>
    </div>
  </div>
  
  
