<div class="container formulario">
    <div class="row">
        <div class="col-sm-12 col-lg-5 part-img" >
            <!-- <div class="intrucciones " *ngIf="step == 2"> -->
              <h3>Registrarse</h3>
              <img src="../../../../../assets/img/undraw_completed_tasks_vs6q.svg" alt="">
              <!-- <div class=" text-center">
                <div class="card-header">
                  Sistema Bancario Electrónico Centaya
                </div>
                <div class="card-body">
                  <h5 class="card-title">Bienvenido al registro para clientes SBEC</h5>
                  <p class="card-text">Si ya tienes una cuenta registrada en el banco, te invitamos a registrarte en nuestra Banca Web. <br>
                    ¡Con ello podras disfrutar de todos nuestros servicios en linea! <br>
                    Solo te pido que te registres con un Usuario y Contraseña que puedas recordar. <br>
                    Para registrarte como requisito debes recordar los siguientes datos que proporcionaste al banco.
                    
                  </p>
                  <ul class="text-center">
                    <li>Número de Cliente</li>
                    <li>CURP</li>
                    <li>E-mail</li>
                  </ul>
            
                  <p>Si no es así, acude con nosotros para obtener tu cuenta bancaria ahotra mismo </p>
            
                  <a href="#" class="btn btn-primary">Registrarme</a>
                </div>
                <div class="card-footer text-muted">
                  SBEC   &copy;
                </div>
              </div>
            </div>   -->

            
        </div>
        
        <div class="col-sm-10 col-lg-7 form" >
            
              <div class="container form">
                
                <div class="row" style="width: 100%;">

                  <div class="card" style="padding: 20px;">

                    <!-- <h1>Registrarse</h1> -->

                      <!-- Formulario Formulario -->
                    <form [formGroup]="formOne" class="col-sm-9" *ngIf="step == 1" (ngSubmit)="pasoUno()">
                      <div class="form-group col-sm-12 mb-2" style="text-align: start;" >
                        <label for="curp" class="form-label">Ingresa tu CURP*:</label>
                        <!-- <button type="button" class="btn btn-secondary" style="border-radius: 50px; width: 30px; height: 30px; font-size: 13px;" (click)="enviar2(nombreModal)">?</button> -->
                      <!-- <ng-template #nombreModal let-c="close" let-d="dismiss">
                        <div class="modal-header">Bienvenido!
                          <button type="button" class="close" (click)="c('')">X</button>
                        </div>
                        <div class="modal-body">
                          <div class=" text-center">
                            <div class="card-header">
                              Sistema Bancario Electrónico Centaya
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Bienvenido al registro para clientes SBEC</h5>
                              <p class="card-text">Si ya tienes una cuenta registrada en el banco, te invitamos a registrarte en nuestra Banca Web. <br>
                                ¡Con ello podras disfrutar de todos nuestros servicios en linea! <br>
                    
                                Para registrarte como requisito debes recordar los siguientes datos que proporcionaste al banco.
                                
                              </p>
                              <ul class="text-center">
                                <li>Número de Cuenta</li>
                                <li>CURP</li>
                                <li>E-mail</li>
                              </ul>
                        
                              <p>Si no es así, acude con nosotros para obtener tu cuenta bancaria ahotra mismo </p>
                        
                              
                            </div>
                            <div class="card-footer text-muted">
                              SBEC   &copy;
                            </div>
                          </div>
                        </div>
                      </ng-template> -->
                        <input type="text" class="form-control" id="curp" placeholder="CURP" formControlName="curp">
                        <span class="text-danger ml-2"
                                *ngIf="formOne.get('curp')?.hasError('required') && formOne.get('curp')?.touched">
                                  El <strong>curp</strong> es reuqerido.
                        </span>
                        
                      </div>
                      
                      <div class="form-group col-sm-12 mb-2" style="text-align: start;" >
                        <label for="noUser" class="form-label">Ingresa tu No. Cuenta*:</label>
                        <input type="text" class="form-control" id="noUser" placeholder="No. Cuenta" formControlName="NomCliente" >
                        <span class="text-danger ml-2"
                          *ngIf="formOne.get('noCliente')?.hasError('required') && formOne.get('noCliente')?.touched">
                            El <strong>No. Cuenta</strong> es requerido
                        </span>
                      </div>
        
                      <!-- <div class="form-group col-sm-12 mb-3" style="text-align: start;" >
                        <label for="emailCheck" class="form-label">Ingresa tu email*:</label>
                        <input type="email" class="form-control" id="email" placeholder="Ingresa Email" formControlName="email">
                        <span class="text-danger ml-2"
                        *ngIf="formOne.get('email')?.hasError('required') && formOne.get('email')?.touched">
                            El <strong>nombre</strong> es reuqerido.
                      </span>
                      </div> -->

                      <div class="form-group col-sm-4 btn-rg">
                        <button class="btn btn-success mr-2 btn-reg" type="submit" (click)="enviar()">Registrarse</button>
                        <!-- <ng-template #nombreModal2 let-c="close" let-d="dismiss">
                          <div class="modal-header">Ingresa un Usuario y Contraseña!
                            <button type="button" class="close" (click)="c('')">X</button>
                          </div>
                          <div class="modal-body">
                            <div class=" text-center">
                              <div class="card-header">
                                Sistema Bancario Electrónico Centaya
                              </div>
                              <div class="card-body"> -->
                                <!-- <h5 class="card-title">Por favor ingresa un usuario contraseña y una pegunta de seguridad.</h5> -->
                                <!-- <p class="card-text">
                                  Para registrarte como requisito por favor ingresar un Usuario, Contraseña y una Pregunta de Seguridad
                                   para poder darte de alta en este Core Bancario.
                                  
                                </p>
                                <ul class="text-center">
                                  <li>Usiario</li>
                                  <li>Contraseña</li>
                                  <li>Pregunta de Seguridad</li>
                                </ul>
                          
                                <p>Si ya cuentas con un usuario o contraseña, por favor omite este paso e ingresa con tu usuario y contraseña desde 
                                  LOGIN.
                                </p>
                          
                                
                              </div>
                              <div class="card-footer text-muted">
                                SBEC   &copy;
                              </div>
                            </div>
                          </div>
                        </ng-template> -->
                        
                      </div>

                    </form>
            
                
                    <br>
                    <!-- Formulario 2 -->
                    <form [formGroup]="formTwo" class="col-sm-9" *ngIf="step == 2" (ngSubmit)="pasoDos()">
                      <div class="form-group col-sm-12 " style="text-align: start;">
                        <label for="user" class="form-label">Ingresa un Usuario*:</label>
                        <input type="text" class="form-control" id="user" placeholder="Usuario" formControlName="user">
                        <span class="text-danger ml-2"
                        *ngIf="formTwo.get('user')?.hasError('required') && formTwo.get('user')?.touched">
                            El <strong>Nombre de Usuario</strong> es reuqerido.
                        </span>
                      </div>
          
                      <div class="form-group col-sm-12 " style="text-align: start;">
                        <label for="password" class="form-label">Ingresa Password/Contraseña*:</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                        <span class="text-danger ml-2"
                          *ngIf="formTwo.get('password')?.hasError('required') && formTwo.get('password')?.touched">
                              La <strong>password</strong> es reuqerida.
                        </span>
                      </div>

                      <div class="form-group col-sm-12 " style="text-align: start;">
                        <label for="passwordCheck" class="form-label">Confirm Password/Contraseña*:</label>
                        <input type="password" class="form-control" id="passwordCheck" placeholder="Confirmar Password" formControlName="passwordCheck">
                        <span class="text-danger ml-2"
                        *ngIf="formTwo.hasError('notSame') && formTwo.get('passwordCheck')?.touched">
                            Numero de Control distintos.
                        </span>
                      </div>
                      <div class="form-group col-sm-12 " style="text-align: start;">
                        <label for="ask" class="form-label">Pregunta de Seguridad*:</label>
                        <select class="form-select" aria-label="Default select example" id="ask" formControlName="ask">
                          <option selected>Selecciona Pregunta</option>
                          <option value="P1">¿Comida favorita?</option>
                          <option value="P2">¿Cual es el nombre de tu mascota?</option>
                          <option value="P2">¿Cual es tu color favorito?</option>
                        </select>
                      </div>
                      
                      <div class="form-group col-sm-12 " style="text-align: start;">
                        <label for="answer" class="form-label">Respuesta*:</label>
                        <input type="text" class="form-control" id="answer" placeholder="Ingresa tu Respuesta">
                      </div>
                          <div class=" form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Terminos y condiciones</label>
                          </div>
                          <div class="d-grid gap-2">
                              <button type="submit" class="btn btn-success" routerLink="/auth/login">Registrarse</button>
                              <!-- <button type="submit" class="btn btn-secondary" (click)="nextPaso()">Volver</button> -->
                              
                              
                          </div>

                          
                    </form>
              
                  </div>

                  
                </div>
              </div>
            
              <!-- <button type="button" class="btn btn-primary" (click)="enviar(nombreModal)">Abrir?</button> -->
              <!-- <ng-template #nombreModal let-c="close" let-d="dismiss">
                <div class="modal-header">Bienvenido!
                  <button type="button" class="close" (click)="c('')">X</button>
                </div>
                <div class="modal-body">
                  <div class=" text-center">
                    <div class="card-header">
                      Sistema Bancario Electrónico Centaya
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Bienvenido al registro para clientes SBEC</h5>
                      <p class="card-text">Si ya tienes una cuenta registrada en el banco, te invitamos a registrarte en nuestra Banca Web. <br>
                        ¡Con ello podras disfrutar de todos nuestros servicios en linea! <br>
                        Solo te pido que te registres con un Usuario y Contraseña que puedas recordar. <br>
                        Para registrarte como requisito debes recordar los siguientes datos que proporcionaste al banco.
                        
                      </p>
                      <ul class="text-center">
                        <li>Número de Cliente</li>
                        <li>CURP</li>
                        <li>E-mail</li>
                      </ul>
                
                      <p>Si no es así, acude con nosotros para obtener tu cuenta bancaria ahotra mismo </p>
                
                      
                    </div>
                    <div class="card-footer text-muted">
                      SBEC   &copy;
                    </div>
                  </div>
                </div>
              </ng-template> -->
            
        </div>

    </div>
</div>