<p>table works!</p>


<!-- <div class="contenedor">
    <div class="titulo">
      <h1 class="title">Hola, Cliente</h1>
      <form routerLink="/login" >
        <input class="close" type="submit" value="Cerrar Sesión">
      </form>
    </div>
</div>
 -->

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Movimientos</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cuenta</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Transferencia a cuenta de terceros</td>
        <td>20/06/2022</td>
        <td>Credito</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Retiro</td>
        <td>16/06/2022</td>
        <td>Nomina</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Deposito</td>
        <td>10/06/2022</td>
        <td>Nomina</td>
      </tr>
    </tbody>
  </table>

