.entrar{
    padding: 4px 7px;
    text-align: center;
}

.entrar:hover{
    background-color: #3e8e41;
    color: aliceblue;
    cursor: pointer;
}

form{
    margin-left: 65%;
    margin-top: 60px;
    position: relative;
}

input{
    padding: 5px 10px;
    border-radius: 25px;
}

p{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 64%;
    margin-top: 19%;
    box-sizing: border-box;
}

.recuperar{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 64%;
    margin-top: 18%;
    box-sizing: border-box;
}

.log{
    position: absolute;
    font-family: Arial;
    margin-left: 69.2%;
    margin-top: 2%;
}

.center{
    position: absolute;
    padding-top: 40px;
    padding-bottom: 50px;
    height: 45%;
    padding-left: 25%;
}

body, html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
}

.pie{
    height: 45%;
    margin-top: 3.5%;
}

.titulo{
    background-color: #E6E6E6;
    padding: 1em;
    box-sizing: border-box;
}

.title{
    font-family: Arial;
    color: aliceblue;
    margin-top: 40px;
    margin-left: 50px;
    -webkit-text-stroke: 1px black;
}

.logo{
    margin-top: -4%;
    margin-right: 9%;
    width: 10%;
    height: auto;
    float: right;
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
